body {
  background-color: #0e141f !important;
  color: #fff !important;
  height: 100vh;
}

.box-shadow {
  box-shadow: 0 1.5rem 1.5rem -0.5rem #000;
}

.logo-nav {
  height: 1.7rem;
}

.drawer {
  box-shadow: inset -9rem 0 9rem -9rem #000;
  border-right: 1px solid #29303d;
}

.navbar__toolbar,
.sidebar__toolbar {
  min-height: 4.4rem !important;
  box-shadow: 0 1rem 5rem -0.5rem #000;
  border-bottom: 1px solid #29303d;
}

.save__btn {
  border: 1px solid #55637e !important;
}

.save__btn:hover {
  background-color: #55637e !important;
}

.css-10hburv-MuiTypography-root {
  font-weight: 500 !important;
}

.css-83ijpv-MuiTypography-root {
  color: #647594 !important;
}

.css-1lwmhsw-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: rgb(17 26 44) !important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input,
.css-7209ej-MuiInputBase-input-MuiFilledInput-input
 {
  color: #fff !important;
}

.css-1o3gaza-MuiInputBase-root-MuiFilledInput-root:before,
.css-tfnnjy-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: 1px solid #55637e !important;
}

.css-1o3gaza-MuiInputBase-root-MuiFilledInput-root:after,
.css-tfnnjy-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid #ffcb36 !important;
}
.css-15birh2-MuiFormLabel-root-MuiInputLabel-root {
  color: #647594 !important;
  font-weight: 500 !important;
}

.css-15birh2-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #ffcb36 !important;
}

.css-v5ldzk-MuiFormLabel-root-MuiInputLabel-root {
  color: #ffcb36 !important;
}
